.slwyTree {
    margin: 6px;
    height: 100%;
    padding: 8px;
    .slwyTree-searchbox {
        width: 100%;
        position: relative;
        .icon-search {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 6px;
            top: 4px;
            font-size: 18px;
            color: #aaa;
        }
    }
    .ztree {
        overflow: hidden;
        margin-left: -10px;
    }
    .slwyTree-selected-list {
        li {
            padding: 5px 0;
        }
    }
    .slwy-color-active {
        color: #5786cc;
    }
    .slwyTree-title {
        padding: 7px 0;
    }
}
