.slwyTree {
    font-family: 'Microsoft Yahei';
    margin: 6px;
    height: 100%;
    padding: 8px;
    .slwyTree-searchbox {
        width: 100%;
        position: relative;
        input[type=search] {
            border-radius: 2px;
            padding: 6px 6px 6px 30px;
            border: 1px solid #ccc;
            width: 100%;
            height: 30px;
        }
        .icon-search {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 6px;
            top: 6px;
            font-size: 18px;
            color: #aaa;
        }
    }
    .ztree {
        overflow: hidden;
        margin-left: -10px;
    }
    .ztree * {
        font-size: inherit!important;
        font-family: inherit!important;
    }
    .slwyTree-selected-list {
        li {
            padding: 10px;
            border-bottom: 1px solid #e6e6e6;
            &:hover {
                background-color: #f0f8fd;
            }
            a {
                color: #2f77e3;
            }
        }
    }
    a {
        color: #2f77e3;
        text-decoration: none!important;
        &:hover {
            text-decoration: none!important;
        }
        &:active {
            text-decoration: none!important;
        }
        &:visited {
            text-decoration: none!important;
        }
    }
    .slwy-color-active {
        color: #5786cc;
    }
    .slwyTree-title {
        padding: 7px 0;
    }
}
