.slwyTree {
    font-family: 'Microsoft Yahei';
    margin: 6px;
    height: 100%;
    padding: 8px;
    overflow: auto;
    .slwyTree-searchbox {
        width: 100%;
        position: relative;
        input[type=search] {
            border-radius: 2px;
            padding: 6px 6px 6px 30px;
            border: 1px solid #ccc;
            width: 100%;
            height: 30px;
        }
        .icon-search {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 6px;
            top: 6px;
            font-size: 18px;
            color: #aaa;
        }
    }
    .ztree {
        overflow: hidden;
        margin-left: -10px;
    }
    .ztree * {
        font-size: inherit!important;
        font-family: inherit!important;
    }
    .slwyTree-selected-list {
        li {
            padding: 10px 0;
            border-bottom: 1px solid #e6e6e6;
            &:hover {
                background-color: #f0f8fd;
            }
            a {
                color: #2f77e3;
            }
            a[treenode_a]{
                max-width: 84%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    a {
        color: #2f77e3;
        text-decoration: none!important;
        &:hover {
            text-decoration: none!important;
        }
        &:active {
            text-decoration: none!important;
        }
        &:visited {
            text-decoration: none!important;
        }
    }
    .slwy-color-active {
        color: #5786cc;
    }
    .slwyTree-title {
        padding: 7px 0;
    }
}
.slwyTree.slwy-style,.slwyTree.slwy-switch-arrow{
    .ztree li span.switch{
        background-image: url("../img/slwyTree-style.png");
    }
    .ztree li span.switch.noline_docu{
        background:none;
    }
    .ztree li span.switch.noline_open{
        background-position: -64px 0;
    }
    .ztree li span.switch.noline_close{
        background-position: -48px 0;
    }
}
.slwyTree.slwy-style{
    .ztree li span[treenode_ico]{
        background-image: url("../img/slwyTree-style.png");
    }
    .ztree li span[treenode_ico].ico_docu{
        background-position: -32px 0;
    }
    .ztree li span[treenode_ico].ico_close{
        background-position: 0 0;
    }
    .ztree li span[treenode_ico].ico_open{
        background-position: -16px 0;
    }
}