/* line 5, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1475205609_112829.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1475205609_112829.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1475205609_112829.woff") format("woff"), url("//at.alicdn.com/t/font_1475205609_112829.ttf") format("truetype"), url("//at.alicdn.com/t/font_1475205609_112829.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 13, ../sass/index.scss */
.iconfont {
  font-family: "iconfont";
}

/* line 17, ../sass/index.scss */
.slwy-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
  width: 500px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 13px;
}
/* line 29, ../sass/index.scss */
.slwy-dialog .slwy-dialog-header {
  background-color: #e1f1ff;
  height: 30px;
  color: #888;
}
/* line 34, ../sass/index.scss */
.slwy-dialog .slwy-dialog-title {
  padding: 8px;
}
/* line 37, ../sass/index.scss */
.slwy-dialog .slwy-dialog-body {
  padding: 15px 0;
}

/* line 48, ../sass/index.scss */
input[type=search] {
  border-radius: 2px;
  padding: 6px 6px 6px 25px;
  border: 1px solid #ccc;
  width: 100%;
}

/* line 55, ../sass/index.scss */
.inline-block {
  display: inline-block;
}

/* line 59, ../sass/index.scss */
.fl {
  float: left;
}

/* line 63, ../sass/index.scss */
.fr {
  float: right;
}

/* line 67, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 72, ../sass/index.scss */
.width-per-10 {
  width: 10%;
}

/* line 72, ../sass/index.scss */
.width-per-20 {
  width: 20%;
}

/* line 72, ../sass/index.scss */
.width-per-30 {
  width: 30%;
}

/* line 72, ../sass/index.scss */
.width-per-40 {
  width: 40%;
}

/* line 72, ../sass/index.scss */
.width-per-50 {
  width: 50%;
}

/* line 72, ../sass/index.scss */
.width-per-60 {
  width: 60%;
}

/* line 72, ../sass/index.scss */
.width-per-70 {
  width: 70%;
}

/* line 72, ../sass/index.scss */
.width-per-80 {
  width: 80%;
}

/* line 72, ../sass/index.scss */
.width-per-90 {
  width: 90%;
}

/* line 72, ../sass/index.scss */
.width-per-100 {
  width: 100%;
}
